<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Document</title>
</head>

<body>
  <h1 id="greeting"></h1>
  {{>popup}}
  <button style="width: 200px; height: 50px; margin-top: 20px" id="add-task-button">Add a task</button>
  <div id="tasks">

  </div>
  <button style="width: 200px; height: 50px; margin-top: 20px" id="request-logout">Log out!</button>
  <script src="/onload.js"></script>
  <script src="/login.js"></script>
  <script src="/logout.js"></script>
  <script src="/signup.js"></script>
  <script src="/addtask.js"></script>
  <script src="/deletetask.js"></script>
  <script src="/markasdone.js"></script>
</body>

</html>
