* {
  padding : 0;
  margin: 0;
  box-sizing: border-box;
  color: black;
  font-family: arial;
  font-weight: 200;
}

button {
  border-radius: 3px;
  border: 1px solid grey;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#greeting {
  height: 50px;
  width: 100%;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

#popup {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1;
  height: 100vh;
  width: 100vw;
  background-color: rgba(158, 0, 0, 0.8);
}

#login-partial, #signup-partial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#signup-partial {
  display: none;
}

#popup-contents {
  border: 1px solid black;
  background: white;
  border-radius: 3px;
  padding: 20px 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#login-form, #signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#login-form > input, #signup-form > input {
  margin: 20px;
  height: 30px;
  width: 200px;
}

#sign-up-here {
  margin-top: 20px;
}

#login-errors, #login-errors {
  height: 20px;
}
